/* import the necessary styles for Vue Flow to work */
@import '@vue-flow/core/dist/style.css';

/* import the default theme, this is optional but generally recommended */
@import '@vue-flow/core/dist/theme-default.css';

/* import themeing for controls and node-resizing*/
@import './css/controls.css';
@import './css/node-resizer.css';

#app { 
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  padding: 0rem;

  /*text-transform: uppercase;*/
  font-family: 'JetBrains Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

/* Node Defaults */

.node-background {
  width:100%;
  height:100%;
  padding:10px;
  background-color:#ffffff;
  box-sizing: border-box;
  border-radius:0px;
}

/*.intersecting {
  background-color:#ec4899;
}*/

.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* Adds space between the input and QuillEditor */
  height: 100%;
}

input {
  /* Make sure the input field doesn't grow too large */
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc; /* Default border color */
  border-radius: 5px; /* Optional: Rounded corners */
  transition: border-color 0.3s ease-in-out; /* Smooth transition */
}

/* Change the outline color when the input is focused */
input:focus {
  outline: none; /* Remove default outline */
  border-color: #ec4899; /* Set custom outline color */
  box-shadow: 0 0 0 1px rgba(236, 72, 153, 1); /* Optional: Add a shadow effect */
}

.quill-editor {
  /* Ensure the Quill editor does not exceed the parent size */
  max-width: 100%;
  max-height: 100%;
  flex-grow: 1;
  /* Allow the editor to grow within the available space */
  overflow: hidden;
  box-sizing: border-box;
}

.text-field-node {
  font-family: 'JetBrains Mono', monospace;
  align-items: left;
}

/* */

.vue-flow__minimap {
  transform: scale(75%);
  transform-origin: bottom right;
}

.vue-flow__handle {
  height:50%;
  width:5px;
  background:#3367d9;
  border-radius:8px
}

.vue-flow__node-value {
  display:flex;
  align-items:center;
  gap:8px;
  padding:8px 16px;
  border-radius:10px;
  box-shadow:0 0 10px #0003;
}

.vue-flow__node-value.selected {
  box-shadow:0 0 0 2px #ec4899
}

.vue-flow__node-value input {
  flex:1;
  padding:8px;
  border:none;
  border-radius:8px;
  box-shadow:0 0 10px #0000001a
}

.vue-flow__node-value input:focus {
  outline:none;
  box-shadow:0 0 0 2px #ec4899;
  transition:box-shadow .2s
}

.vue-flow__node-value.vue-flow__handle {
  background-color:#3367d9
}

/* Label Renaming */

.label-renaming-field {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* Dialogs */

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.dialog {
  background: #ffffff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius:10px;
  box-shadow:0 0 10px #0003;
}

.dialog .actions {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.dialog .actions button {
  background: #ffffff;

  padding: 8px 16px;
  border: 1px solid var(--vf-node-color, #ec4899);
  box-shadow:0 0 10px #0003;
  border-radius: 5px;
  cursor: pointer;

  font-family: 'JetBrains Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #000000;
}

.dialog .actions button:first-of-type:hover {
  background: #25eb77;
  border-color: #25eb77;
}

.dialog .actions button:last-of-type:hover {
  background: #e53e3e;
  border-color: #e53e3e; 
}


